*.DS_Store
external/sdk13/external/micro-ecc
external/nano-pb
libs/liblibmplmpu_m4_hardfp/liblibmplmpu.a
libs/libmpllib_Keil_M4FP/libmpllib.lib
project/pca20020_s132/arm5_no_packs/Output
project/bootloader_secure/keys
project/bootloader_secure/dfu_public_key.c
project/bootloader_secure/pca20020/armgcc/_build
